THis is app level |Here I am going to call the components

<div class="added">
    <div>"Here I am adding NUmber to variable which is :- {{listOfnumbers}} declared in app level all these is written in app.html"</div>
    <div>
        <label for="number">NUmber to add</label>

        <!-- Mehtod 1 preferred -->
        <input name="number" [(ngModel)]="textNumber">

        <!-- Mehtod 2 alternate -->
        <!-- <input name="number" [value]="textNumber" (change)="handleChange($event)"> -->
        <button (click)="onNumberAdd()">ADD IT!</button>
    </div>
    <ul>
        <li *ngFor="let item of listOfnumbers; let i=index">{{ i }}: {{ item }}</li>
    </ul>
</div>
<app-adder-logic [list3]="listOfnumbers" />
<app-custom-evn-demo (evnEmit)="handleCusEvt($event)"/>

<app-my-comp2 string1="ras" string2="listOfnumbers" [list3]="listOfnumbers" />