<div class="added2">
    <h2>"Here I am adding NUmber to variable which is : {{listOfnumbers}} : declared in service all these is written in seperate component file"</h2>
    <h4>Adding any no. here will not update the original top service lvl list which i received </h4>
    <div>
        <span>NUmber to add</span>
        <input name="number" [(ngModel)]="textNumber">
        <button (click)="handleClick()">ADD IT!</button>
    </div>
    <ul>
        <li *ngFor="let item of listOfnumbers; let i=index">{{ i }}: {{ item }}</li>
    </ul>
</div>