<p>fetch-data works!</p>
<br>

<h4>This approach can be suitable for simple scenarios or when the fetching logic is specific to the component and isn't reused elsewhere in the application. However, as your application grows and the need for code reuse and maintainability increases, you may find it beneficial to refactor the fetching logic into a service.</h4>
<em>, a service in Angular is like a magical helper that provides functionality or data to different parts of your application. It's a reusable piece of code that you can inject into components, other services, or even directives.</em>
<br>
<br>
<h5>{{data===''?"Loading.....":data}}</h5>